.lost_reset_password{
    max-width: 599px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    h2{
        margin-bottom: 0;
    }
    .form-row:not(:last-child){
        margin-bottom: 0;
    }
    p{
        font-size: 16px;
        color: $color-main;
        height: unset !important;

    }
    @include response-max($laptop-landscape - 1){
        padding: 0 16px;
        gap: 16px;
        &.password-reset{
            padding: 0;
        }
    }
}
button{
    width: 100%;
}
.lost_reset_password .button{
    @include response-max($laptop-landscape - 1){
        margin-top: 8px;
    }
}

.lost_reset_password .content span{
    font-weight: 700;
    color: $color-grey;
    font-size: 16px;
    line-height: 130%;
}
.lost_reset_password .content p{
    color: $color-grey;
}
.password-reset span, .password-reset span.form-row-small{
    @include response-max($laptop-landscape - 1){
        font-size: 14px;
    }
}
.woocommerce-lost-password main.main .woocommerce{
    margin: 48px auto 120px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include response-max($laptop-landscape - 1){
        margin: 0px auto 60px;
    }

}
.form-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-grey;
    flex-direction: column;
    a{
        color: $color-main;
        transition: all .3s ease-in-out;
        text-decoration: underline;
        font-size: 16px;

        &:hover{
            color:  $color-main-hover;
        }
    }
    @include response-max($laptop-landscape - 1){
        font-size: 16px;
    }
}
.woocommerce-lost-password main.main .woocommerce {
    max-width: unset;
    padding: 0;

}
.woocommerce-lost-password main.main{
    p{
        height: 0;
        margin: 0;
    }
}
.lost-confirmed_success{
    margin-top: 48px;
    @include response-max($laptop-landscape - 1){
        margin-top: 0;
    }
}
.lost-confirmed{
    width: 100%;
    background-color: #F1F1F1;
    padding: 24px 0;

    gap: 24px;
    .container{
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        justify-content: center;
        @include response-max($laptop-landscape - 1){
            gap: 20px;
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 12px;
        @include response-max($laptop-landscape - 1){
            gap: 4px;
        }
        h4{
            margin-bottom: 0;
            font-size: 20px;
            text-transform: uppercase;
            @include response-max($laptop-landscape - 1){
                font-size: 16px;
            }
        }
        p{
            margin-bottom: 0;
            font-size: 16px;
            height: unset !important;
            color: $color-grey;
        }
    }
}
.lost-confirmed__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
}
.login-link{
    margin: 24px 0 120px;
    @include response-max($laptop-landscape - 1){
        margin: 32px 0 60px;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button{
        padding: 16px 104px;
        @include response-max($laptop-landscape - 1){
            width: 100%;
        }
    }
}
.lost-items{
    margin-top: 8px;
    @include response-max($laptop-landscape - 1){
        margin-top: 0;
    }
}
.lost-items__wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}
.lost-items__item{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    @include response-max($laptop-landscape - 1){
        gap: 8px;
    }
    p{
        margin-bottom: 0;
        color: $color-grey;
        font-size: 16px;
        line-height: 130%;
        height: unset !important;

    }
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-password-input {
    position: absolute;
    top: 16px;
    right: 17px;
    width: 20px;
    height: 20px;
    @include pointer;
    &:after {
        background: url('../img/eye.svg') center / 20px no-repeat;
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        margin: 0;
    }

    &:before {
        opacity: 0;
        content: '';
        width: 20px;
        height: 1px;
        background: $color-grey;
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        transition: 0.3s ease-in-out;
    }

    &.display-password {
        &:before {
            opacity: 1;
        }
    }
}
.woocommerce-password-hint{
    display: none !important; 
}
.woocommerce-password-strength {
    display: none;
    color: #A5A5A5;
    font-size: 14px;
    line-height: 130%;
    position: relative;
    padding-right: 24px;
    @include response-max($laptop-landscape - 1){
    }
    &::after{
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        position: absolute;
        content: '';
        background: url('../img/paw.svg') center / 16px no-repeat;
        width: 16px;
        height: 16px;
        margin: 0;
    }
}
.woocommerce-form__notice{
    display: none;
    flex-direction: column;
    gap: 4px;
    max-width: 343px;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
.password-strength-indicator {
    display: flex;
    height: 8px;
    overflow: hidden;
    width: 100%;
    visibility: hidden;
    gap: 4px;
    margin: 0 auto;
}

.password-strength-bar {
    height: 100%;
    border-radius: 2px;
    border: 1px solid #E6E6E6;
    width: 100%;
}

.password-strength-bar-weak {
    flex-grow: 1;
    background-color: #FE0000;
    border: unset;
}

.password-strength-bar-medium {
    flex-grow: 1;
    background-color: #FEE400;
    border: unset;
}

.password-strength-bar-strong {
    flex-grow: 1;
    background-color: #0BA81B;
    border: unset;
}

