*, :before, :after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
    font-family: inherit;
    appearance: none;
    max-width: 100%;
    width: 100%;
    border: none;

    &:focus,
    &:active {
        outline: none;
    }

    &::placeholder {
        font-family: inherit;
    }
}

textarea {
    resize: none;
}

button {
    appearance: none;
}

a {
    appearance: none;
    display: inline-block;
    color: #000;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
    }
}

ul,
ol {
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    width: 100%;
}

p {
    &:empty {
        display: none;
    }

    &:last-child {
        margin-bottom: 0;
    }
}