$theme-fonts-url: '../fonts/Karla';

$color-white: #fff;
$color-main: #1B1B1B;
$color-main-hover: #3D3D3D;
$color-danger: #FE0000;
$color-success: #0BA81B;
$color-secondary: #A5A5A5;
$color-grey: #585858;
$light-grey: #999;
$pink: #ECB8BB;

$color-bg-main: #FBFBFB;

$box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.06), -4px -4px 8px 0px #FFF;
$box-shadow-hover: 0 0 0 0 rgba(0, 0, 0, 0.06), -4px -4px 8px 0px #FFF;

$border-color: #C8C8C8;
$border-color-gray: #D9D9D9;

$laptop-landscape: 1024px;
$laptop-portrait: 768px;
$mobile: 576px;